<ion-header>
  <ion-toolbar color="green">
    <ion-title sizze="small">Login - Skeleton App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenidos a Skeleton App </ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
          <ion-item> 
            <ion-label position="floating" color="primary">Usuario</ion-label>
            <!-- Usamos ngModel para indicarle al input el objeto a utilizar-->
            <ion-input type="text" required color="primary" [(ngModel)]="user.usuario"></ion-input>
          </ion-item>
         
          <ion-item>
            <ion-label position="floating" color="primary">Password</ion-label> 
            <!-- Usamos ngModel para indicarle al input el objeto a utilizar-->
            <ion-input type="password" required color="primary" [(ngModel)]="user.password"></ion-input>
          </ion-item>

          <ion-row>
            <ion-col>
              <!-- Indicamos mediante el (click) la funcion a quien referenciara-->
              <ion-button size="full" (click)="ingresar()">Ingresar</ion-button>
            </ion-col>
          </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>